:root {


  --color-brand-darker-1: #422484;
  --color-brand-darker-2: #311b63;
  --color-brand-darker-3: #211242;
  --color-brand-lighter-1: #6f50b5;
  --color-brand-lighter-2: #8c73c5;
  --color-brand-lighter-3: #aa96d5;
  --color-brand-lighter-4: #c7b9e5;
  --color-brand-lighter-5: #d5cbed;
  --color-brand-lighter-6: #e4dcf5;
  --color-brand-normal: #522da5;

}